<h1><%= @current_contact.name %>'s Contact Info</h1>

<h3>Address</h3>
<p><%= @current_contact.address %></p>

<h3>Email</h3>
<p><%= @current_contact.email %></p>

<h3>Phone Number</h3>
<p><%= @current_contact.phone_number %></p>

<%= link_to "Back", contacts_path %>