<h1>Results</h1>

<h3>Original text:</h3>
<p><%= @text %></p>

<h3>Word Count:</h3>
<p><%= @word_count %></p>

<h4>Est. Reading Time:</h4>
<p><%= @reading_time %> min</p>

<h4>Top 10 Words Used: </h4>
<p><%= @frequencies %></p>

<%= link_to "Home", home_path %>