<section class='concerts-today'>
  <ul>
    <h3>Concerts Today</h3>
    <% @concerts_today.each do |concert| %>
    <li><%= link_to "#{concert.artist} @ #{concert.venue}",
        concert %>
    </li>
    <% end %>
  </ul>
</section>


<aside class='concerts-later'>
  <h3>Concerts Later This Month</h3>
  <ul>
    <% @concerts_later.each do |concert| %>
    <li><%= link_to "#{concert.artist} @ #{concert.venue}",
        concert %>
    </li>
    <% end %>
  </ul>
</aside>

<%= link_to "Add new concert", new_concert_path %>

<section>
  <%= form_tag(search_path, method: "get") do %>
    <%= label_tag(:search, "Search by price:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>
</section>

<%= link_to "Most popular concerts", popular_path %>
